.event-form-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25%;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;

}

.event-form-container form {
  display: flex;
  flex-direction: column;
}

.event-form-container input,
.event-form-container select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-btn,
.cancel-btn {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.event-form-container button:hover {
  background-color: #0056b3;
}


.create-btn {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  margin-left: 40%;
  top: 10;
  width: 20%;
  font-size: 16px;
}


.create-btn:hover {
  background-color: #0056b3;
}

.notes {
  height: 100px;
  resize: both;
}



@media screen and (max-width: 768px) {
  .event-form-container {
    width: 100%;
    position: static;
    margin-top: 20px;
    box-shadow: none;
  }

  .event-form-container form {
    display: block;
  }

  .event-form-container input,
  .event-form-container select {
    width: calc(90%);
  }

  .create-btn {
    margin-left: 5%;
    padding: 7px;
    font-size: 16px;
  }

  .add-btn,
  .cancel-btn {
    width: 45%;
    height: 2rem;
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline;
  }

  .notes {
    width: 90%;
  }


}